body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.addstaff-container {
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.addstaff-container h1 {
    text-align: center;
    color: #333;
}

.addstaff-container form {
    display: flex;
    flex-direction: column;
}

.addstaff-container label {
    margin-bottom: 10px;
    color: #333;
}

.addstaff-container input[type="text"],
.addstaff-container input[type="email"],
.addstaff-container input[type="password"]{
    width: 97%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.addstaff-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.addstaff-container input[type="submit"] {
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.addstaff-container input[type="submit"]:hover {
    background-color: navy;
}

.editstaff-container {
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.editstaff-container h1 {
    text-align: center;
    color: #333;
}

.editstaff-container form {
    display: flex;
    flex-direction: column;
}

.editstaff-container label {
    margin-bottom: 10px;
    color: #333;
}

.editstaff-container input[type="text"],
.editstaff-container input[type="email"],
.editstaff-container input[type="password"]{
    width: 97%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.editstaff-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.editstaff-container input[type="submit"] {
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.editstaff-container input[type="submit"]:hover {
    background-color: navy;
}